@import "tailwindcss";
.home h2 {
  font-size: large;
  font-weight: 500;
  align-items: center;
  justify-content: center;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
